* {
    margin: 0px;
}

.container {
    height: 100vh;
    background-color: brown;
    display: flex;
}

.left-content {
    width: 50%;
    height: 100%;
    background-image: url('../images/vinyl.jpg');
    background-size: cover;
    background-color: aquamarine;
}

.left-banner {
    height: 70px;
    margin-top: 70px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;
}

.left-banner-content {
    font-family: 'Courier New', Courier, monospace;
}

.right-content {
    width: 50%;
    height: 100%;
    background-color: violet;
}

.right-top {
    height: 30%;
    background-color: beige;
}

.right-top-content {
    padding: 30% 10% 0% 10%;
}

.right-mid {
    height: 40%;
    background-color: salmon;
}

.right-bot {
    height: 30%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: aqua;
    color: blue;
}