* {
    margin: 0px;
}

.container {
    height: 100vh;
    background-color: brown;
    display: flex;
}

.left-content {
    width: 50%;
    height: 100%;
    background-image: url('../images/vinyl.jpg');
    background-size: cover;
    background-color: aquamarine;
}

.left-banner {
    height: 70px;
    margin-top: 70px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 75%;
}

.left-banner-content {
    font-family: 'Courier New', Courier, monospace;
    color: purple;
}

.right-content {
    width: 100%;
    height: 100%;
    background-color: violet;
}

.right-top {
    height: 30%;
    background-color: purple;
    color: yellow;
    display: flex;
    flex-flow: column-reverse;
}

.right-top-content {
    width: 75%;
    padding-left: 50px;
    padding-bottom: 50px;
}

.right-mid {
    height: 40%;
    background-color: teal;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}

.form-left,
.form-right {
    padding-left: 50px;
    display: flex;
    flex-flow: column;
}

.form-input {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
}

.right-bot {
    height: 30%;
    background-color: yellow;
    color: purple;
    display: flex;
    flex-direction: column;
}

.right-bot-content {
    padding-left: 50px;
    padding-top: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: purple;
    color: yellow;
}